body {
  font-size: 120%;
  font-family: 'Lato', sans-serif;
}

button, input {
  margin-bottom:6px;
}

input {
  font-size: 80%;
  width: 60%;
  padding:10px;
  margin-bottom: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 0.01em;;
  /* border-width: 1px; border-color: rgb(174, 174, 252); */
}

table {
  width: 100%;
}

td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 11px;
}

th {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 400;
}

td {
  font-style: italic;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  color: #3ca48c;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .08em;
}

#total {
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 125%;
}

.form {
  margin-top: 25px;
  /* width: 100%; */
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: white;
  width: 170px;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: #393862;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}
  button:hover{
  border-color: rgba(255,255,255,1);
  background-color: #393862 !important;
  color: white;
  }
  @media all and (max-width:30em){
   a.button4{
  display:block;
  margin:0.2em auto;
}
  }

#add-btn {
  background-color: #86d7dd;
}

#sub-btn {
  background-color: #fe9790;
}